.h1{
    
    top:440px;
    height:40px;
    width: 80px;
    left:300px;
    position: fixed;
}
.title1 {
    --background: rgb(201, 39, 88);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-weight: bold;
    padding-left: 170px;
    font-size: 24px;
  }
  .basketButton1{
    --background :rgb(201, 39, 88);
    
}
.image{
  padding-left: 20px;
}
.search{
  position: fixed;
}