<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="button">
      <ion-icon name="home"></ion-icon>
      <ion-label>Anasayfa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="developers" class="button">
      <ion-icon name="list"></ion-icon>
      <ion-label>Kategoriler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sale" class="button">
      <ion-icon name="add-circle" size="large"></ion-icon>
      <ion-label>Kitap Sat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="basket" class="button">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Sepetim</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="hesap" class="button">
      <ion-icon name="person" ></ion-icon>
      <ion-label>Hesabım</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
