.kitapAdi{
     padding-bottom: 150px;
    padding-left: 20px;
    // text-align: start;
    // // margin-left: 50px;
    // // margin-top: 150px;
    // style="width: 200px; height: 200px;"
    
}
.kitapResmi{
    padding-left: 70px;
}
.header{
    padding-left: 170px;
   
}
.image{
    width: 150px;
    height: 200px;
}
.title1 {
    --background: rgb(201, 39, 88);
    
  }