<ion-header>
  <ion-toolbar class="title1">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="developers"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title [(ngModel)]="developer.name">{{developer.name}}</ion-title> -->
    <!-- <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="kategori">
    <ion-list  *ngFor="let item of kitaplar | async">
      <ion-card   style="width: 460px; height: 210px;">
        <ion-item button [routerLink]="['/', 'developer', item.id]">
        <img style="width: 150px; height: 200px;" [src]="item.img" >
        <ion-label class="kitapAdi" >
          <h2>{{item.name}}</h2>
          <p>{{item.yazarAdi}}</p>  
          <p>{{item.fiyat}}₺</p> 
          </ion-label>
      </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>